/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Change the background color to white */
  padding: 20px;
  padding-right: 10rem;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 7rem; /* Use a number without quotes */
}

.logo img {
  width: 50px; /* Adjust the width as needed */
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  font-size: 18px;
  margin: 5rem 0;
}

.nav-links li a {
  text-decoration: none;
  color: #333; /* Change the text color to a dark color, e.g., #333 */
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #00bcd4; /* Adjust the hover color as needed */
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px; /* Adjust as needed for spacing */
  }

  .logo {
    margin-left: 20px; /* Adjust as needed for spacing */
  }

  .nav-links {
    display: none; /* Hide the links by default on mobile */
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: white; /* Adjust background color for mobile */
    position: absolute;
    top: 60px; /* Adjust as needed for spacing */
    left: 0;
    z-index: 1;
    border: 1px solid #ccc;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex; /* Show the links when the menu is active */
  }

  .nav-links li {
    margin: 10px 20px; /* Adjust as needed for spacing */
  }

  .mobile-menu-toggle {
    display: block; /* Show the mobile menu toggle button in mobile view */
    cursor: pointer;
    font-size: 20px;
  }

  .nav-links {
    display: none; /* Hide the links by default on mobile */
  }

  .nav-links.active {
    display: flex; /* Show the links when the menu is active */
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 5rem;
  }
}

/* Add a media query to hide the mobile menu toggle button for larger screens */
@media screen and (min-width: 769px) {
  .mobile-menu-toggle {
    display: none; /* Hide the mobile menu toggle button in larger screens */
  }
}